aiofiles
aiohttp
asyncio
async_pymongo
beautifulsoup4
bs4
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
httpx==0.27.0
motor
pillow==9.5.0
psutil
py-tgcalls==0.9.7
pykeyboard
pyrogram==2.0.106
python-dotenv
pyyaml
pytz
requests
node
speedtest-cli
spotipy
telegraph
unidecode
yt-dlp
youtube-search
youtube-search-python
